@import "../shared";

.win-loss{
    display: flex;
}
.win-loss.table-layout {
    display: table-row;
}
.win-loss.table-layout {
    .name, 
    .winlosses, 
    .win-percent, 
    .indicator {
        display: table-cell;
        vertical-align: middle;
    }
    .name {
        font-size: 0.8em;
        text-align: right;
        padding-right: 8px;
    }
}

.win-loss {
    .name {
        color: #555;
        margin-right: 8px;
    }
    .winloss-wrap {
        display: flex;
        flex: 1;
    }
    .winlosses {
        flex: 1;
        padding-right: 4px;
    }
    .winloss {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .winloss-block {
        min-width: 6px;
        height: 6px;
        flex: 1;
        margin-right: 1px;
    }

    .topsies, .bottomsies {
        display: flex;
    }

    .topsies {
        border-bottom: solid #888 1px;
    }

    .topsies .marked {
        background-color: #999;
    }

    .bottomsies .marked {
        background-color: #333;
    }

    .win-percent {
        padding-right: 4px;
    }


    .indicator:after {
        display: flex;
        font-size: 1.5em;
        content: "○";
        color: transparent;
        position: relative;
        top: -1px;
    }
    .indicator.bad:after {
        color: $bad-color;
        content: "●";
    }

}

.win-loss.focused {
    .winloss-block {
        opacity: 0.4;
    }
    .winloss-block.focused {
        opacity: 1;
    }
}

