@import "../shared";

$full-last-font-size: 2em;

.sparkline {
    color: #555;
}

.sparkline .metric {
    font-size: 1.2em;
}

.sparkline .spark-content {
    align-items: center;
}

.sparkline .graph {
    flex: 1 1 120px;
    margin-right: 6px;
    height: $full-last-font-size;
}

.sparkline .graph .sparkline-path {
    stroke: #555;
    stroke-width: 1;
    fill: transparent;
}

.sparkline .graph .sparkline-path.shaded {
    stroke: transparent;
    fill: #CCC;
}

.sparkline .graph .sparkline-bar {
    stroke: transparent;
    fill: #AAA;
}

.sparkline .graph .sparkline-bar.bad {
    fill: $bad-color;
}

.sparkline .graph .sparkline-scatter,
.sparkline .graph .sparkline-last-point {
    fill: #AAA;
}

.sparkline .graph .sparkline-scatter.bad,
.sparkline .graph .sparkline-last-point.bad {
    fill: $bad-color;
}

.sparkline .graph .sparkline-threshold {
    stroke: #AAA;
    stroke-width: 2;
    stroke-dasharray: 2, 2;
    fill: transparent;
}

.sparkline .graph .sparkline-focus {
    stroke: black;
    stroke-width: 2;
    fill: transparent;
}

.sparkline .last {
    font-size: $full-last-font-size;
    display: flex;
    align-items: baseline;
    line-height: 0.7em;
    letter-spacing: -1px;
}

.sparkline .last-val {
    margin-right: 2px;
}

.sparkline .units {
    font-size: 0.8em;
    color: #AAA;
}

.sparkline .annotation {
    font-size: 0.9em;
    color: #AAA;
    margin-left: 2px;
}

.sparkline .indicator:after {
    display: flex;
    font-size: 1.5em;
    margin: -5px 5px 0 5px;
    content: "○";
    color: #CCC;
}
.sparkline .indicator.off:after {
    display: none;
}
.sparkline .indicator.on:after {
    color: $bad-color;
    content: "●";
}
