@import "../shared";

.sparkline * {
    display: flex;
}

.sparkline {
    color: #555;
}

.sparkline .metric {
    font-size: 1.2em;
}

.sparkline .spark-content {
    align-items: center;
}

.sparkline .graph {
    flex: 1 1 120px;
    margin-right: 6px;
    /* NOTE - matches .last font-size */
    height: 3em;
}

.sparkline .last {
    font-size: 3em;
    margin-right: 5px;
    letter-spacing: -2px;
}

.sparkline .spark-value {
    line-height: 1.2em;
}

.sparkline .spark-value .units {
    font-size: 1.2em;
    font-weight: bold;
}

.sparkline .indicator:after {
    font-size: 1.5em;
    margin: -5px 5px 0 5px;
    color: transparent;
    content: "●";
}
.sparkline .indicator.on:after {
    color: $bad-color;
}





.sparkline.row {
    font-size: 0.8em;
}

.sparkline.row .graph {
    flex: 1 1 50px;
    margin-right: 6px;
    /* NOTE - matches .last font-size */
    height: 1.5em;
}

.sparkline.row .last-val {
    font-size: 1.5em;
}

.sparkline.row .unit {
    color: #AAA;
}
.sparkline.row .indicator {
    height: 1.3em;
}



.sparkline.compact .graph {
    flex: 1 1 50px;
    margin-right: 6px;
    /* NOTE - matches .last font-size */
    height: 1.5em;
}

.sparkline.compact .last {
    font-size: 1.5em;
    letter-spacing: 0;
    margin-right: 2px;
}

.sparkline.compact .last .last-val {
}

.sparkline.compact .last .unit {
    color: #AAA;
    font-size: 0.8em;
}

.sparkline.compact .indicator {
    height: 1.4em;
}

