@import "../shared";

$bar-height: 10px;
$threshold-height: 16px;

.bar-grid {

    .bars {
        display: table;
        width: 100%;
        table-layout: auto;
    }

    .stacked-bar {
        display: table-row;
    }

    .stacked-bar {

        .name {
            display: table-cell;
            font-size: 0.8em;
            text-align: right;
            padding-right: 4px;
        }

        .bars-wrap {
            display: table-cell;
        }

        .bars {
            height: $bar-height;
            border: none;
        }

        .bar {
            line-height: $bar-height !important;
        }
        .threshold {
            height: $threshold-height !important;
            top: -3px !important;
            border-left: dotted #555 2px !important;
        }

        .indicator {
            display: table-cell;
            height: 1.3em;
            position: relative;
            top: 0;
            right: 0;
            font-size: 1.1em;
            padding-left: 4px;
        }
    }
}
