* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 250px;
}
